body{
    background-color: bisque;
}
.form{
    justify-content: center;
    background-color: beige;
    font-size: 15px;
    text-transform: capitalize;
    border: radius 10px;
    padding-left: 350px;
    padding-top: 50px;
    width:10px 50px 10px 50px;
    margin: 0 300px 0 300px;
   size: 50cap;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   background-image: url(2.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

}
legend{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 30px;
 font-weight: bolder;
 color:transparent;
 background-image: url(images.jpg);
 background-clip: text;
}

.form label{
    width: 10px;
    border-radius: 5rem;
    color: rgb(83, 2, 59);
}
.form .fields input{
    height:25px;
    color:black;
    width:200px;
}
.form ::placeholder{
    color:black
}
.form .gender{
    
    color: rgb(0, 0, 0);
}
 
body{
    display: flex;
    flex-direction: column;
}
.form .btn{
   text-align: center;
   justify-content: center;
   align-items: center;
   background-color:burlywood;
    
}
.button{
    text-align: left;
    justify-content: center;
}
